.background{ :style => "background-image:url(/assets/images/" + item[:image_name] + ".jpg);"}
.custom-grid--single
  =image_tag ("assets/images/" + item[:image_name] + ".jpg")

%span.description
  = item[:title]
%span.thumbnails
  = link_to("↑", "/", id: "linkBack")

= link_to("/shots/" + data.portfolio.image_list[current - 1].image_name,  id: "left") do
  %span.inner ←
    

- if data.portfolio.image_list[current + 1].present?
  = link_to("/shots/" + data.portfolio.image_list[current + 1].image_name, id: "right") do
    %span.inner →
- else 
  = link_to("/shots/" + data.portfolio.image_list[0].image_name, id: "right") do
    %span.inner →


/ = partial "partials/footer"