# [Gilbert Townshend](/)
## (b. 1988, London, UK)

### Contact

<div class="split">
  <div class="label">Twitter:</div>
  <div><%= link_to "@iNerdier", "https://twitter.com/iNerdier"%></div>
</div>
<div class="split">
  <div class="label">Email:</div>
  <div><%= link_to "hello@gtownshend.com", "mailto:hello@gtownshend.com"%> </div>
</div>
<div class="split">
  <div class="label">Telephone:</div>
  <div><%= link_to "07891 028519", "tel:07891028519"%> </div>
</div>
<div class="split">
  <div class="label">CV PDF:</div>
  <div><%= link_to "Gilbert CV", "/Gilbert-CV.pdf"%> </div>
</div>
<div class="split">
  <div class="label">A roughly monthly newsletter:</div>
  <div>Words on photography, philosophy & the world we live in.
    <form action="https://tinyletter.com/gtownshend" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/gtownshend', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
      <input type="text" name="email" placeholder="Your email address" />
      <input type="submit" value="Subscribe" />
    </form>
  </div>
</div>

***

### Studies

<div class="split">
  <div class="label">2020–22</div>
  <div>MA Photography at the University of Brighton (part-time)</div>
</div>
<div class="split">
  <div class="label">2016</div>
  <div>Foundation Fine Art from City Lit</div>
</div>
<div class="split">
  <div class="label">2008–11</div>
  <div>BA Graphic Design from Camberwell College of Art (UAL)</div>
</div>
<div class="split">
  <div class="label">2007</div>
  <div>Foundation in Graphic Design from London College of Communication</div>
</div>

***

<figure class="figure_left">
  <%= image_tag "/assets/images/torso.jpg", resize_to: '600x600' %>
</figure>

### Statement

I take photographs of objects, sometimes of people. Where possible I try to include a tactile element to any work.

The current project work I have made does both; working with models and also objects that resemble and once were parts of bodies. It is a means of dealing with the death of my cousin and the feelings of mortality and grief surrounding that.

My work is influenced by, though rarely resembles, the work of post-1940s Japanese photographers such as Ishiuchi Miyako and Araki Nobuyoshi, as well as 17<sup>th</sup> century Dutch painting. 

I strive to find a personal honesty within an image, something that on reflection says more than on first viewing. Finding in stillness the opposite of speed, of the ephemeral. The outside world always intrudes but, like a film, the work can for a few moments be its own self-contained world.

***

<figure>
  <%= image_tag "/assets/images/head.jpg", resize_to: '700x700' %>
  <figcaption>Image credit Matthew Bruce</figcaption>  
</figure>


### About

I am a photographer from London and a recent graduate of the Fine Art Masters Photography course at the University of Brighton.

I'm interested in the chemistry of photographic processes and engineering of photographic tools alongside image making. My work currently is investigating the use of photographs as a means to show the otherwise invisible and to uncover more than one sees with their eyes normally.

Where possible I like to be practical and learn new skills, be they in music, electronics, fabrication or programming. I enjoy taking apart machinery to see how it works, trying to solve problems without resorting always to established and ready-made solutions.

I've done a lot of life drawing and spent a lot of time trying to understand how computers work. I have also worked in moving image doing assisting on TV shoots, as well as data backup and on-set playback.


***

<figure class="figure_left">
  <%= image_tag "/assets/images/lightbulb-expired.jpg", resize_to: '500x5 00' %>
</figure>

### Process


It's often hard to put a finger on what exactly makes me want to do a specific project. Sometimes it has been a desire to try out a new technique, a new piece of equipment, with others it has been to a brief or with a particular model in mind.

I thrive when I set myself or am given limitations, working creatively within those restraints leads to more exciting outcomes.

Though it's really more about the image than the technique, part of the enjoyment I get out of analogue image making is the physical nature of working with film, chemicals and paper. The tactile quality of handling things and my choices of equipment end up allowing more space for thinking about the what, not the how.

For six years I took a photograph of myself every day, despite not enjoying having images taken of myself and with no intention of showing them. It was called *Amateur Narcissism*.

Some of my as yet not fully realised experiments have involved my interest in origami and photography. By folding light sensitive paper and projecting images onto it I aimed to create three dimensional prints. My desire was to escape the idea that an image has to be a flat and effectively dimensionless object, making use of the pictures inherent position in space.

My practice is in a state of development, which is why I wanted the time to experiment on an MA course.. The majority of what I do has been self-taught, the more I do the more I learn about what fits my working patterns. I really thrive when there are people I can ask questions of and learn from, much of the improvement and change has come when I have found likeminded people to work alongside.

***

### Influences

As is often the best way, the people who have most influenced me are from disparate artistic backgrounds. I try to keep and open mind where possible and to seek out as many different influences as possible. 

<figure><%= image_tag "/assets/images/riley.jpg", resize_to: '800x800' %></figure>

Here are some of the more immediately memorable:

I very much admire the work of *Bridget Riley*, *Giovanni Battista Piranesi* and *M.C. Escher* for their mathematical elegance in design and the artworks they produce(d).

*Robert J. Lang*, *Eric Gjerde* and *Peter Callesen* for their amazing work on origami and paper sculpture.

The Sculptural work of *Alexander Calder*, *Takis* and *Donald Judd* which showed me that sculpture could move and feel like more than just and object to be reverent of.

The opulence and elegance of the Vienna secessionist movement, as typified by *Gustav Klimt* and *Egon Schiele*. Schiele made me appreciate the angles of human form; *John Coplans* and *Benoit Courti* showed me how photography could show humans in ways I had never considered.

Surrealism in *Georgio de Chirico*, *Max Ernst* and *René Magritte*. Appreciating the weird, the humour in art as well as just how much personal perception shapes artistic expression.

*Dan Flavin*, *James Turrell* and *Fischli & Weiss* amazed for their installations based on light alone and how much a space can be shaped by changing what you get to see of it.

*Issey Miyake*, *Aitor Throup*, *Gareth Pugh* and *Lee (Alexander) McQueen* opened my eyes to just how experimental and wonderful fashion can be, despite the haze and weirdness that surrounds it all.

The music of *Bach*, thanks to my grandmother who is and always has been a true devotee of classical music.

I was introduced to the masters of 20th century photography as so many are via *Ansel Adams*, *Henri Cartier-Bresson* and *Lee Miller*. I got excited by less famous people like *Frank Habicht* and *Akihiko Okamura* who showed me both about cultural revolution and the strife in conflict.

As for those living and currently making work those influences seem to change all the time. Some of the people I have been enjoying lately include:

* *[Chloe Dewe Mathews](http://www.chloedewemathews.com)* work about the Caspian
* *[Ralph Whitehead](http://www.ralphwhitehead.com)’s* large format paper negative fashion work
* *[Kevin Mason](https://www.kevin-mason.com)’s* portraiture
* *[Mark Webber](https://www.markdwebber.com)* and *[Patrick Joust](https://www.patrickjoust.com)’s* work both involving suburban USA devoid of people at night.
* *[Brendan Barry](http://brendanbarry.co.uk)* and his work turning rooms into cameras.
