!!!
%html{lang: "#{I18n.locale}"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1, shrink-to-fit=no", name: "viewport"}/
    
    %meta{ name: "description", content: "Portfolio of Gilbert Townshend, Photographer" }
    %meta{ name: "author", content: "Gilbert Townshend" }

    %title= current_page.data.title || "Gilbert Townshend"
    

    = stylesheet_link_tag "main"
    = javascript_include_tag "all"
    = favicon_tag "favicons/favicon-32x32.png"

  %body
    %main{role: "main"}
      = yield